.msg{  
    &.owner{
        flex-direction: row-reverse;
        .messageContent{
            p{
                color:white;
                background-color: darkgray;
            }
        }
    }
}