.msg{  
    &.owner{
        flex-direction: row-reverse;
        .messageContent{
            p{
                color:white;
                margin: 10px;
                background-color: rgb(63, 63, 63);
            }
        }
    }
}